
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

.bg-color {
	background-color: #f5f5f5;
}

.hero-bgi {
	background-image: url("imgs/banner/header-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 230px;
}

.footer-bgi {
	background-image: url("imgs/banner/header-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 230px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 40px;
}

.categories {
    padding: 10px;
    margin:0px;
    list-style:none;
    display: flex;
	justify-content: space-between;
	font-family: 'Roboto Slab', serif;
}

.categories li {
    display: inline;
}

.principal-post {
	background-color: #fff;
}

.principa-description {
	padding: 30px;
}

.principal-post p {
	color: #33475b;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}

.principal-post h1 {
	color: #33475b;
	font-size: 30px;
}

.subscribe-card {
	width: 260px;
	padding: 24px;
}

.post-title {
}

.post {
	
}

.banner-column {
	width: 260px;
	height: 600px;
	border: 2px solid #33475b;
	padding: 14px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	background-color: #1e87e7;
	text-align: center;
}

.banner-column p {
	padding: 16px;
	margin-bottom: 0;
	font-weight: 700;
}

.banner-column button {
	background-color: #ffa200;
	color: #fff;
	padding: 16px;
	border-radius: 4px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

.ebook-banner img {
	/* -webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222); */
	/* filter: drop-shadow(-8px 6px 20px #ffff); */
}

.editors-choice {
	width: 260px;
}

.editors-choice h1 {
	font-weight: 600;
	color: #33475b;
	font-size: 20px;
}

.editors-choice h1::after {
	content: '';
	display: block;
	width: 46px;
	height: 5px;
	background-color: #0085ff;
}

.editors-list {
	margin-top: 40px;
	padding: 0;
}

.editors-list img {
	border-radius: 50%;
}

.editors-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.editors-list label {
	padding: 4px;
}

.footer-popup-news {
	background: #fff;
	color: #33475b;
    padding: 23px 0 46px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    display: none;
	z-index: 1;
	bottom: 90px;
	font-size: 18px;
}

.footer-popup-news.ativo {
	opacity: 1;
    transform: translate3d(0px, 0, 0);
}


.footer-popup-news h1 {
	font-size: 32px;
	color: #8a05be;
}

.footer-popup-news p {
	font-size: 18px;
}

.btn-register {
	background-color: #8a05be !important;
	color: #fff !important;
}
/* 
font-family: 'Roboto Slab', serif;
font-family: 'Poppins', sans-serif; */